.container{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 1px;
    grid-template-rows: 200px 200px 200px;
}
.item{
    background: black;
    color :#fff;
    padding:1px;
}